@CHARSET "UTF-8";
body { font-size: 12px;margin: 0;padding: 0;}
input.text { margin-bottom:12px; width:95%; padding: .4em; }
.tdStyle{
	text-align: left;
	width: 12%;
}
.txtStyle{
	text-align: center;
	width: 12%;
	height: 27px;
}
.tdStyle1{
	text-align: left;
	width: 10%;
}
.txtStyle1{
	text-align: center;
	width: 10%;
	height: 27px;
}
.province{
	border:thin;
	border:#000;
	border-width:1px;
	width:98%;
	border-style:solid;
	border-color:#CCC;
	padding:8px;	
	margin-bottom:8px;
}
.province_title{
	border:thin;
	border:#000;
	border-width:1px;
	width:95%;
	font-weight:bold;
	border-style:solid;
	border-color:#CCC;
	padding:8px;
	background-color:#E3EFFF;
	border-bottom-style:none;
	}
.city{
	border:thin;
	border:#000;
	border-width:1px;
	width:95%;
	font-style:inherit;
	border-color:#CCC;
	padding:8px;
	border-style:solid;
	border-top-style:none;
	margin-bottom:8px;
}
.text{
	padding-left:10px;
	margin-left:23px;
	margin-right:23px;
	border:1px #CCC solid; 
}
.text1{
	padding-left:10px;
	margin-left:17px;
	margin-right:20px;
	margin-top:10px;
	border:1px #CCC solid; 
}
.tdStyle2{
	text-align: left;
	width: 6%;
}
.txtStyle2{
	text-align: center;
	width: 6%;
	height: 27px;
}

#parameter{
	background-color: #E3EFFF;
	width:100%;
	padding: 3px 0px 5px 0px;
	line-height: 24px;
}
#parameter div{
	padding: 2px;
	height: 24px;
}
#parameter label{
	margin: 2px;
}
#parameter input[type=text]{
	width: 85px;
	height: 20px;
}
#parameter select{
	width: 89px;
	height: 22px;
}