<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmcc.zysoft.common.areas.dao.AreasMapper" >
  <resultMap id="BaseResultMap" type="com.cmcc.zysoft.common.areas.model.Areas" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="AREAID" property="areaid" jdbcType="VARCHAR" />
    <result column="AREAS" property="areas" jdbcType="VARCHAR" />
    <result column="CITYID" property="cityid" jdbcType="VARCHAR" />
    <result column="CITIES" property="cities" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, AREAID, AREAS, CITYID, CITIES
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from AREAS
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  
  <select id="getAreaByaId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from AREAS
    where AREAID = #{areaid,jdbcType=VARCHAR}
  </select>
  <select id="getAreaBycityId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from AREAS
    where cityid = #{cityid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from AREAS
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.cmcc.zysoft.common.areas.model.Areas" >
    insert into AREAS (ID, AREAID, AREAS, 
      CITYID, CITIES)
    values (#{id,jdbcType=VARCHAR}, #{areaid,jdbcType=VARCHAR}, #{areas,jdbcType=VARCHAR}, 
      #{cityid,jdbcType=VARCHAR}, #{cities,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cmcc.zysoft.common.areas.model.Areas" >
    insert into AREAS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="areaid != null" >
        AREAID,
      </if>
      <if test="areas != null" >
        AREAS,
      </if>
      <if test="cityid != null" >
        CITYID,
      </if>
      <if test="cities != null" >
        CITIES,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="areaid != null" >
        #{areaid,jdbcType=VARCHAR},
      </if>
      <if test="areas != null" >
        #{areas,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="cities != null" >
        #{cities,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cmcc.zysoft.common.areas.model.Areas" >
    update AREAS
    <set >
      <if test="areaid != null" >
        AREAID = #{areaid,jdbcType=VARCHAR},
      </if>
      <if test="areas != null" >
        AREAS = #{areas,jdbcType=VARCHAR},
      </if>
      <if test="cityid != null" >
        CITYID = #{cityid,jdbcType=VARCHAR},
      </if>
      <if test="cities != null" >
        CITIES = #{cities,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cmcc.zysoft.common.areas.model.Areas" >
    update AREAS
    set AREAID = #{areaid,jdbcType=VARCHAR},
      AREAS = #{areas,jdbcType=VARCHAR},
      CITYID = #{cityid,jdbcType=VARCHAR},
      CITIES = #{cities,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>