.login_input {
	font-family: "宋体";
	font-size: 13px;
	color: #000000;
	text-align: right;
	vertical-align: middle;
	height: 28px;
	width: 75px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.copyright {
	font-family: "宋体";
	font-size: 12px;
	color: #000000;
	letter-spacing: 2px;
	word-spacing: 2px;
	text-align: center;
	text-indent: 20px;
	vertical-align: top;
}

@charset "utf-8";
/* CSS Document */
* {
	margin: 0px;
	padding: 0px;
}

body {
	background: url(../images/newLogin/login_bg.jpg) repeat-x top #fff;

	text-decoration: none;
}

.loginbg{ background:url(../images/newLogin/loginmainbg.jpg) no-repeat center; width:950px; margin:auto; height:559px;}

.login {
	margin-top: 220px;
	float: right;
	margin-right: 30px;
	_margin-right: 15px;
	width: 305px;
	font-family: "微软雅黑";
	font-size: 14px;
}

.login tr td {
	padding-bottom: 24px;
}

.text_input {
	background: url(../images/newLogin/inputbg.png) repeat-x;
	height: 15px;
	border: solid 1px #cecece;
	margin-left: 10px;
	width: 240px;
	padding-left: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.code {
	background: url(../images/newLogin/inputbg.png) repeat-x;
	height: 15px;
	border: solid 1px #cecece;
	margin-left: 10px;
	width: 90px;
	padding-left: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn_submit {
	width: 104px;
	height: 36px;
	border: none;
	cursor: pointer;
	margin-left: 10px;
}

.btn_cancel {
	width: 104px;
	height: 36px;
	border: none;
	cursor: pointer;
	margin-left: 10px;
}

.copyright1 {
	font-size: 12px;
	color: #a1a1a1;
	padding-top: 25px;
}
.topbg{     height: 68px;

	font-size: 12px;
	border-bottom: 10px solid #339CFB;}
.top_logo{ float:left; margin-top:3px;}
.top_city{ float:left; margin-top:30px; position:relative;}
.top_city a{ color:#000; text-decoration:none;}
.top_info{ font-size: 1.5em; float:right; right:20px;top:30px; line-height:18px; height:18px; color:#5a88ac; text-align:right;position: absolute;}
.top_exit{ background:url(../images/newLogin/top_08.jpg) no-repeat left; padding-left:18px; height:18px; padding-top:5px; color:#5a88ac; text-decoration:none;}
.top_editpw{ background:url(../images/icons/key.png) no-repeat left; padding-left:18px; height:18px; padding-top:5px; color:#5a88ac; text-decoration:none;}
.cloth{ margin-top:15px;}
.city_list {
border: solid 1px #98BAE8;
width: 80px;
top: 45px;
left: 420px;
position: absolute;
z-index:99999;
}

.city_list p{ height:30px; line-height:30px; padding-left:5px; border-bottom:solid 1px #bbd4f5; border-top:solid 1px #fff;z-index:9999;}
.shuang{ background:#f9fbfe;}
.dan{ background:#ecf4fe;}
.city_list p:hover{ background:#e0ecff;}