<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cmcc.zysoft.scenicflow.dao.DayDao">
  <resultMap id="BaseResultMap" type="com.cmcc.zysoft.common.regionsummarybyday.model.RegionSummaryByday">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="AREA_CODE" jdbcType="DECIMAL" property="areaCode" />
    <result column="TOURISTS" jdbcType="DECIMAL" property="tourists" />
    <result column="DISTINCT_COUNTS" jdbcType="DECIMAL" property="distinctCounts" />
    <result column="UPDATETIME" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="REGION_ID" jdbcType="VARCHAR" property="regionId" />
    <result column="CITY_CODE" jdbcType="VARCHAR" property="cityCode" />
    <result column="SUBMIT_TIME" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="STAT_DAY" jdbcType="TIMESTAMP" property="statDay" />
    <result column="VISITOR_COUNTRY" jdbcType="VARCHAR" property="visitorCountry" />
    <result column="VISITOR_PROVINCE" jdbcType="VARCHAR" property="visitorProvince" />
    <result column="VISITOR_CITY" jdbcType="VARCHAR" property="visitorCity" />
    <result column="FLAG" jdbcType="VARCHAR" property="flag" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, AREA_CODE, TOURISTS, DISTINCT_COUNTS, UPDATETIME, REGION_ID, CITY_CODE, SUBMIT_TIME, 
    STAT_DAY, VISITOR_COUNTRY, VISITOR_PROVINCE, VISITOR_CITY, FLAG
  </sql>
 <select id="getDay" parameterType="map" resultType="com.cmcc.zysoft.scenicflow.model.ScenicFlow">
 	select  to_char(a.stat_day,'mm') || '-' || to_char(a.stat_day,'dd')  as time,
            a.diqu,
            sum(tourists) as renshu
	  	    from sys_scenic_user b ,
	        (select t.*,
                 case when t.visitor_province='340000' then '本省' 
				 else '外省' end as diqu 
                 from region_summary_byday t) a 
	      	  	 left join sys_scenic c 
	      	  	 on a.region_id=c.scenicid
	       		 where   a.stat_day > (select max(stat_day) from region_summary_byday) -31
	             and b.userid=#{userid,jdbcType=VARCHAR}
	             and b.scenicid=a.region_id 
	         <if test="cityType==0">
	         	 <if test="cityid != null and cityid != '' "> 
			 		 and c.provinceid=#{cityid,jdbcType=VARCHAR}
				 </if>
	         </if>
	         <if test="cityType==1">
	         	 <if test="cityid != null and cityid != '' "> 
			 		 and c.cityid=#{cityid,jdbcType=VARCHAR}
				 </if>
	         </if>
	         <if test="cityType==2">
	         	 <if test="cityid != null and cityid != '' "> 
			 		 and c.countyid=#{cityid,jdbcType=VARCHAR}
				 </if>
	         </if>
			
			 <if test="scenicid != null and scenicid != '' ">
			  and c.scenicid=#{scenicid,jdbcType=VARCHAR}
			 </if>
		  	 group by a.stat_day,a.diqu  
		  	 order by a.stat_day,a.diqu
 </select>
   <select id="getThirtyDay" resultType="string">
 	select to_char(((select max(stat_day)from region_summary_byday)-level+1),'mm')||'-'||
        to_char(((select max(stat_day)from region_summary_byday)-level+1),'dd')
        as tim from dual 
    connect by level &lt;=31   
    order by tim
 </select>

</mapper>