@CHARSET "UTF-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-size:100%;font-weight:normal;font-style:normal;font-family:inherit;vertical-align:baseline}

body {background:#e0ecff; color:#333; font-family:Verdana,Helvetica,Arial,Geneva,Helvetica,sans-serif; font-size:12px;line-height:20px;padding-bottom:0em}
ul,ol {list-style-type:none}
.left  {float:left}
.right {float:right}
.center {text-align:center}

/* Header Portion */
#header {background:#0e4cbc url(../images/header.png) repeat-x}
#logo {position:absolute; left:7px; top:0px; width:146px; height:68px; background-image:url(../images/logo.png);background-position: center;}
#loading {display:none}
#title {color:#f79500; font-size:1.2em; height:3em; line-height:3em; font-weight:bold; padding-left:160px}
#header_tabs {font-size:1em; padding-left:160px}
#header_tabs li {padding:0 1em; float:left; font-weight:bold; height:2em; line-height:2em; color:#eee;
				background:#6ae url(../images/header.png) 0 -8px; border-width:1px 1px 0 1px; border-style:solid; border-color:#acf #05b #000 #acf;
				margin-right:5px;cursor:pointer; white-space:nowrap;}
#header_tabs li:hover {color:#fff}				
#header_tabs li.on {color:#07e; background:#f8f8f8 url(../images/nav_bg.gif) repeat-x;}

#header_bar {clear:left; color:#e0ecff; background-color:#e0ecff; border-bottom:1px solid #e0ecff; padding:0px 6px; overflow:hidden; height:0em}
#header_bar span img {cursor:pointer}
#header_bar .hint {display:none;padding-right:5px}
#header_bar:hover .hint {display:inline}
