<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="rml.dao.BigScreenMapper" >
  <resultMap id="BaseResultMap" type="rml.model.MUser" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="AGE" property="age" jdbcType="DECIMAL" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, AGE, ADDRESS
  </sql>
  <!--<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >-->
    <!--select -->
    <!--<include refid="Base_Column_List" />-->
    <!--from MUSER-->
    <!--where ID = #{id,jdbcType=VARCHAR}-->
  <!--</select>-->


  <select id="getAll" resultType="java.util.Map">
    select * from tourist_phones_byday_sum  WHERE ROWNUM &lt;= 5
  </select>

  <select id="getYesterdayTouristCount" resultType="Integer">
    select sum(t.TOURISTS) as sumCount  from REGION_SUMMARY_BYDAY t
    where
    t.stat_day = to_date( to_char(sysdate-1,'yyyy-mm-dd'),'yyyy-mm-dd')
  </select>

  <select id="getYesterdayTopTenCityTouristCountEntireCountry" resultType="map">
    select * from (
    select nvl(sum(a.tourists),0) as tourist,a.area_name as cities,a.AREA_CODE from (
    select c.AREA_NAME, t1.*
    from TOURIST_PHONES_BYDAY_SUM t1
    join area_cfg c on t1.VISITORCITY = c.AREA_CODE
    where t1.ROAMINGCITY = '341500' and t1.VISITORCITY!='-111' and t1.VISITORCITY!='341500'
    and t1.stat_day =
    to_date(to_char(sysdate - 1, 'yyyy-mm-dd'), 'yyyy-mm-dd')
    ) a 	group by a.area_name,a.AREA_CODE
    order by tourist desc ) tt where ROWNUM&lt;=10
  </select>
</mapper>